.netFail{
  height: 100%;
  width: 100%;
  color: white;
  background-color: #333;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-sizing: border-box;
  padding-bottom: 100px;
}
